<h1>New Job Posting for
    <%= @employer.name %>
</h1>

<%= render 'form', job_posting: @job_posting %>

<% if @admin %>
<%= link_to 'Back', admin_employer_path(@employer) %>

<% else %>
<%= link_to 'Back', user_employer_path(@employer) %>
<% end %>